#set-names-scene {
    flex-direction: column;
    gap: 64px;
}

#set-names-scene .name-inputs {
    display: flex;
    justify-content: space-evenly;
}

#set-names-scene .name-inputs span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

#set-names-scene input {
    width: 33%;
    padding: 16px;
    appearance: none;
    font: inherit;
    text-align: center;
    border: none;
}

#set-names-scene #start-game-button {
    font-size: 18px;
}